.modalHome {
    padding: calc( 1rem + 1vw );
    height: 70%;
    box-sizing: border-box;
}

.modalHome-boxText {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc( .8rem + 1vw);
    color: #223E67;
    margin: calc( 1rem + 1vw );
    font-family: 'AvenirNextLtProLight';
}
.modalHome-text {
    width: 90%;
}

.modalHome-btn-container {
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 20px;
}

.modalHome-btn {
    width: 15vw;
    min-width: 120px;
}