.welcome-dialog-container {
    position: relative;
    width: 60%;
    height: 75vh;
    background-color: #55CDF6;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.welcome-dialog-content {
    width: 100%;
    height: 85%;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px black;
    background: linear-gradient(180deg, rgb(35, 60, 106) 60%, rgba(82,119,184) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.welcome-dialog-boxText {
    width: 80%;
    max-height: 100%;
    font-weight: normal;
    font-size: calc(.7rem + 1vw);
    line-height: 1.2;
    color: white;
}

.welcome-dialog-footer {
    position: relative;
    width: 100%;
    height: calc(20% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.welcome-dialog-btn-next {
    width: auto;
    height: 70%;
}

.welcome-dialog-content-text {
    min-height: 80%;
}

.welcome-dialog-title {
    font-weight: bold;
    text-align: center;
    line-height: 2;
    font-size: calc(1.3rem + 1vw);
    margin-bottom: 10px;
}

.welcome-dialog-text {
    font-family: 'AvenirNextLtProLight';
    margin-bottom: 20px;
    font-size: calc(.6rem + 1vw);
}

.welcome-dialog-text-question {
    margin-top: 20px;
    font-weight:900;
    font-size: 1.2rem;
    text-align: center;
}

.welcome-dialog-btns-container {
    position: relative;
}

.welcome-dialog-btn-right{
    position: absolute;
    top: 0;
    right: 10px;
    width: 50px;
    height: 50px;
}

.welcome-dialog-btn-left{
    position: absolute;
    top: 0;
    left: 10px;
    width: 50px;
    height: 50px;
}

.welcome-fl-left-container {
    position: absolute;
    width: 0; 
    height: 0; 
    top: 50px;
    left: -70px;

    border-left: 35px solid transparent;
    border-top: 35px solid transparent;
    border-right: 35px solid #55CDF6;
    border-bottom: 35px solid #55CDF6;
}

.welcome-fl-left-container {
    position: absolute;
    width: 0; 
    height: 0; 
    top: 50px;
    left: -70px;

    border-left: 35px solid transparent;
    border-top: 35px solid transparent;
    border-right: 35px solid #55CDF6;
    border-bottom: 35px solid #55CDF6;
}

.welcome-fl-bottom-container {
    display: none;
    position: absolute;
    width: 0; 
    height: 0; 
    bottom: -60px;
    /* top: 50px; */
    left: 30px;

    border-left: 35px solid transparent;
    border-top: 35px solid #55CDF6;
    border-right: 35px solid #55CDF6;
    border-bottom: 35px solid transparent;
}
