.dialogDesc-container {
    position: relative;
    width: 100%;
    height: 80%;
    background-color: rgba(85, 173, 193, .8);
    border-radius: 10px;
    padding: 15px;
}

.dialogDesc-content {
    width: 100%;
    height: 82%;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px black;
    background: linear-gradient(180deg, rgb(35, 60, 106) 60%, rgba(82,119,184) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogDesc-boxText {
    width: 80%;
    max-height: 85%;
    /* font-weight: bold; */
    line-height: 1.2;
    color: white;
    font-weight: 300;
    font-size: calc(.7rem + 1vw);
    font-family: 'AvenirNextLtProLight';
    overflow: auto;
}

.dialogDesc-footer {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogDesc-btn-next {
    width: 18vw;
    min-width: 150px;
}

.dialogDesc-text {
 /* font-weight: 400; */
 /* font-size: 1.5rem; */
}

.dialogDesc-text-question {
    margin-top: 20px;
    text-align: center;

    font-size: calc(1rem + 1vw);
    font-family: 'AvenirNextLtPro';

}

.dialogDesc-btns-container {
    position: relative;
}

.dialogDesc-btn-right{
    position: absolute;
    /* top: 20px; */
    right: 0px;
    width: 10vw;
    min-width: 80px;
    height: 50%;
}

.dialogDesc-btn-left{
    position: absolute;
    /* top: 20px; */
    left: 0px;
    width: 10vw;
    min-width: 80px;
    height: 50%;
}

.container-panorama {
    display: none;
    position: relative;
    top: -20px;
    width: 100%;
    height: 120px;
}

.dialogDesc-list {
    width: 100%;
}

.title-table {
    text-align: center;
    margin: 10px;
    font-size: calc(1rem + 1vw);
    font-family: 'Calibri';
}

.container-table {
    height: 100%;
    max-height: 45vh;
    padding-bottom: 20px;
}

.table {
    width: 100%;
}

.table th {
    text-transform: capitalize;
    border: 1px solid white;
    padding: 4px;
    font-size: calc(.5rem + 1vw);
    font-family: 'Calibri';
}

.table td {
    font-weight: normal;
    border: 1px solid white;
    padding: 8px;
    line-height: 1;
    font-size: calc(.3rem + 1vw);
}

@media only screen and (max-width: 650px) {
    .container-panorama {
        display: block;
    }

    .dialogDesc-container {
        background: none;
        width: 60%;
        min-width: 340px;
        height: auto;
        /* min-height: 100vh; */

        display: flex;
        flex-direction: column;

        padding: 5px;
        font-size: 14px;
    }

    /* .dialogDesc-content {
        height: 70%;
    } */

    .dialogDesc-footer {
        position: relative;
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    .dialogDesc-btn-right {
        position: absolute;
        top: 0;
        right: 10px;
        width: 50px;
        height: 50px;
    }

    .dialogDesc-btn-left {
        position: absolute;
        top: 0;
        right: 10px;
        width: 50px;
        height: 50px;
    }

    .dialogDesc-text {
        font-weight: 300;
        font-family: 'AvenirNextLtProLight';
    }

   
}