.header-container {
    width: 100%;
    position: relative;
}

.header-content {
    width: 100%;
    height: 10vh;
    position: absolute;
    display: flex;
    justify-content: center;
}

.btn-return {
    position: absolute;
    left: 0;
    width: 20%;
    height: 70%; 
}

.btn-return img {
    height: 100%;
    cursor: pointer;
}

.select-level {
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.select-level img{
    height: 100%;
}

.menu-btns {
    height: 55%;

    position: absolute;
    right: 0;
}

.menu-btns img{
    height: 100%;
    cursor: pointer;
}

.header-mobile {
    display: none;
}

@media only screen and (max-width: 650px) {
    .header-content {
        height: 5vh;
        background-color: #223E67;
        border-bottom: 3px solid white;
    }

    .select-level {
        position: relative;
        top: calc(5vh - 0px);
    }

    .btn-return {
        display: none;
    }   

    .menu-btns {
        display: none;
    }

    .header-content {
        justify-content: center;
    }

    .header-mobile {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header-mobile-btn {
        height: 70%;
        width: 30%;
        margin: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .header-mobile-btn:hover {
        opacity: .7;
    }


    .header-mobile-btn-container {
        width: 40%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}