.modalHelp {
    padding: 40px;
    height: 300px;
    box-sizing: border-box;
}

.modalHelp-boxText {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'AvenirNextLtProLight';
    color: #223E67;
}
.modalHelp-text {
    width: 80%;
}

.modalHelp-btn-container {
    display: flex;
    justify-content: center;
    height: 100px;
}

.modalHelp-btn {
    height: 60px;
}