.modalHelp {
    padding: calc( 1rem + 1vw );
    height: 60%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modalHelp-boxText {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc( .8rem + 1vw);
    font-family: 'AvenirNextLtProLight';
    color: #223E67;
}
.modalHelp-text {
    width: 90%;
}

.modalHelp-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modalHelp-btn {
    height: auto;
    width: 15vw;
    min-width: 120px;
}