.scene-container {
    width: 100%;
    height: 100vh;
}

.scene-title-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.scene-title-container.left {
    justify-content: flex-start;
    margin-left: 10px;
}

.scene-title-content {
    width: 20%;
    min-width: 150px;
    height: 80%;
}

.scene-content {
    width: 100%;
    height: 90%;

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.scene-content.right {
    flex-direction: row-reverse;
}

.scene-personage-container {
   /* height: 100vh; */
   width: auto;
   /* min-width: 30%; */

   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
}

.scene-personage {
    width: 30vw;
    min-width: 350px;
    max-height: 80vh;
    overflow: hidden;
}

.scene-box {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.personage-left {
    margin-left: 40px;
}

.personage-right {
    margin-right: 40px;
}

.fl-container-right {
    position: absolute;
    width: 0; 
    height: 0; 
    top: 160px;
    left: -70px;

    border-left: 35px solid transparent;
    border-top: 35px solid transparent;
    border-right: 35px solid rgba(85, 173, 193, .8);;
    border-bottom: 35px solid rgba(85, 173, 193, .8);;
}

.fl-container-left{
    position: absolute;
    width: 0; 
    height: 0; 
    top: 160px;
    /* left: -70px; */
    right: -70px;

    border-left: 35px solid rgba(85, 173, 193, .8);
    border-top: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid rgba(85, 173, 193, .8);
}

@media only screen and (max-width: 650px) {
    .scene-personage-container {
      display: none;
    }

    .scene-box {
        width: 100%;
        justify-content: center;
    }

    .scene-container {
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding-top: 5vh;
    }

    .scene-title-container.left {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .dialogSelectOption-container {
        width: 90%;
        height: 100%;
        border-radius: 10px;
    }

    .dialogSelectOption-content {
        height: auto;
        min-height: 50vh;
    }

    .option-text {
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .option-container {
        height: auto;
        min-height: 100px;
    }

    .dialogFeedBack-content {
        height: auto;
        min-height: 70vh;
    }


    .dialogDesc-content {
        position: relative;
        height: auto;
        min-height: 45vh;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .dialogFeedBack-boxText {
        padding-bottom: 20px;
    }

    .dialogFeedBack-content-content {
        min-height: 70vh;
        height: auto;
    }

    .dialogEnd-text-container  {
        width: 100%;
    }

    .fl-container-left {
        display: none;
    }   

    .fl-container-right {
        display: none;
    } 
}
