.cardHistory-container {
    position: relative;
    width: 28vw;
    min-width: 300px;
    min-height: 300px;
    height: 28vw;
    padding: 10px;
    margin: 15px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.cardHistory-stars {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-stars {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 130%;
}

.header-stars img{
    height: 100%;
    width: 100%;
}

.cardHistory-content {
    position: relative;
    top: -30px;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cardHistory-content-bg {
    position: relative;
    height: 100%;
    width: 60%;
    outline: 1px solid white;
    background: linear-gradient(0deg, rgb(104, 151, 221) 0%, rgba(36,64,105,1) 100%);
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.cardHistory-content-bg.desc {
    width: 100%;
    box-sizing: border-box;
    outline: 1px solid #223E67;
    box-shadow: 1px 3px 2px black;

}

.cardHistory-content-personage {
    width: 100%;
    margin-top: 20px;
    /* height: 100%; */
    position: absolute;
}

.cardHistory-content-text {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    padding: 10px;
    color: white;
    font-size: calc(.3rem + 1vw);
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'AvenirNextLtProLight';
    
}

/* Title Module 1 */

.title-module-1-1 {
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/INTERFACE/TITLE_MODULE_1-1.svg');
    background-repeat: no-repeat;
}

.title-module-1-2 {
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/INTERFACE/TITLE_MODULE_1-2.svg');
    background-repeat: no-repeat;
}

.title-module-1-3 {
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/INTERFACE/TITLE_MODULE_1-3.svg');
    background-repeat: no-repeat;
}

/* Title Module 2 */

.title-module-2-1 {
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/INTERFACE/TITLE_MODULE_2-1.svg');
    background-repeat: no-repeat;
}

.title-module-2-2 {
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/INTERFACE/TITLE_MODULE_2-2.svg');
    background-repeat: no-repeat;
}

.title-module-2-3 {
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/INTERFACE/TITLE_MODULE_2-3.svg');
    background-repeat: no-repeat;
}

/* Title Module 3 */

.title-module-3-1 {
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/INTERFACE/TITLE_MODULE_3-1.svg');
    background-repeat: no-repeat;
}

.title-module-3-2 {
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/INTERFACE/TITLE_MODULE_3-2.svg');
    background-repeat: no-repeat;
}

.title-module-3-3 {
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/INTERFACE/TITLE_MODULE_3-3.svg');
    background-repeat: no-repeat;
}

.cardHistory-btn-next-container {
    width: 100%;
    position: relative;
    top: -13px;
    display: flex;
    justify-content: center;
}

.cardHistory-btn-next {
    position: relative;
    top: -18px;
    width: 75%;
    /* height: 70px; */
    cursor: pointer;
}

.cardHistory-footer {
    width: 100%;
    /* height: 18%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-eye-container {
    position: absolute;
    width: 80%;
    /* height: 18%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-eye {
    z-index: 2;
    width: 40px;
    height: 20px;
    /* margin: 10px; */
    border-radius: 50%;
    cursor: pointer;
    /* background-color: white; */
}

@media only screen and (max-width: 650px) {
    .cardHistory-container {
        padding: 0;
    }

    .cardHistory-content-text {
        font-size: 12px;
    }
}

