.feedBackEnd-container {
    width: 100%;
    height: 100vh;
}

.feedBackEnd-title-container {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-end;
}

.feedBackEnd-title-content {
    width: 20%;
    min-width: 150px;
    height: 80%;
    margin-left: 10px;
}

.feedBackEnd-content {
    width: 100%;
    height: 90%;

    /* position: relative; */

    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.feedBackEnd-personage-container {
    position: absolute;
    z-index: 6;
    height: 90%;
    width: auto;
    /* max-height: 70vh; */
    /* min-width: 200px; */
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
    /* background-color: red; */
    right: 0;
}

.feedBackEnd-personage {
    width: 280px;
}

.feedBackEnd-box {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 650px) {

    .feedBackEnd-content {
        height: 90%;
        flex-direction: column;
    }

    .dialogEnd-container {
        height: auto;
        width: 100%;
    }

    .feedBackEnd-box {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .feedBackEnd-personage-container {
        height: 60%;
        /* background-color: blue; */
    }

    .feedBackEnd-personage-container {
        position: relative;
        left: 0;
        display: flex;
        justify-content: center;
        overflow: hidden;
        
    }

    .feedBackEnd-personage {
        width: 280px;
        position: absolute;
        top: 0;
    }

    .dialogHistory-text {
        font-size: 15px;
    }
}