:root {
  --blue-bg: #3FA6E5;
  --blue-light: #56D4FB;
  --blue-dark: #40B4FB;

  --blue-dark: #223E67;
  --blue-dark-light: #486CA3;
  --yellow: #FCD333;
}

@font-face {
  font-family: 'AvenirNextLtPro';
  src: local('AvenirNextLtPro'), url(./assets//Fonts/AvenirNextLTPro-Bold.otf)
}

#root {
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'AvenirNextLtPro';
}

.center-abs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  height: 100%;
}

.avatar-mobile-container {
  display: none;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 10px;
}


.bg-mechanics-1 {
  width: 100%;
  height: 100%;
  background-image: url('./assets/FONDOS/BG_MECHANICS_1.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-mechanics-2 {
  width: 100%;
  height: 100%;
  background-image: url('./assets/FONDOS/BG_MECHANICS_2.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-mechanics-3 {
  width: 100%;
  height: 100%;
  background-image: url('./assets/FONDOS/BG_MECHANICS_3.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-clothing-1 {
  width: 100%;
  height: 100%;
  background-image: url('./assets/FONDOS/BG_ CLOTHING_1.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-clothing-2 {
  width: 100%;
  height: 100%;
  background-image: url('./assets/FONDOS/BG_ CLOTHING_2.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-clothing-3 {
  width: 100%;
  height: 100%;
  background-image: url('./assets/FONDOS/BG_ CLOTHING_3.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-production-uniform-1 {
  width: 100%;
  height: 100%;
  background-image: url('./assets/FONDOS/BG_PRODUCTIOIN_UNIFORM_1.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-production-uniform-2 {
  width: 100%;
  height: 100%;
  background-image: url('./assets/FONDOS/BG_PRODUCTIOIN_UNIFORM_2.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-production-uniform-3 {
  width: 100%;
  height: 100%;
  background-image: url('./assets/FONDOS/BG_PRODUCTIOIN_UNIFORM_3.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 650px) {
  .avatar-mobile-container {
      display: block;
  }

  .bg {
    background: none;
  }
  
}