.welcome-container {
    /* min-height: 90vh; */
    width: 100%;
    height: 100vh;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.welcome-container-content {
    position: relative;
    width: 90%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.welcome-container-personage {
    margin-right: 20px;
    width: 30%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden; 
}

.welcome-personage {
    position: absolute;
    bottom: -10px;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.welcome-personage img {
    max-height: 80vh;

}

.welcome-footer {
    position: absolute;
    z-index: 1;
    bottom: 5px;
    right: 15px;

    display: flex;
    color: #eee;
    font-family: "AvenirNextLtProLight";
}
.welcome-footer a {
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 1000px) {
    .welcome-dialog-text {
        margin-bottom: 10px;
        /* font-size: 12px; */
    }
    .welcome-dialog-container{
        margin-top: 50px;
        min-width: 360px;
        height: 60vh;
        width: 90%;
        padding: 10px;
    }

    .welcome-container-content {
        display: flex;
        flex-direction: column-reverse;

        width: 100%;
        max-height: 100vh;
    }

    .welcome-dialog-boxText {
        height: auto;
    }

    .welcome-container-personage{
        top: 10px;
        width: 50%;
    }

    .welcome-container {
        padding: 10px;

    }
    
    .welcome-personage {
        bottom: auto;
        top: 0;

    }

    .welcome-dialog-boxText {
        /* font-size: .7rem; */
        width: 90%;
    }

    .welcome-dialog-content {
        width: 100%;
        /* height: 60%; */
        min-height: 300px;
        /* padding: 10px; */
    }

    .welcome-fl-left-container  {
        display: none;
    }

    .welcome-fl-bottom-container {
        display:block;
    }

    .welcome-dialog-footer {
        height: calc(20% - 10px);
    }
}
