.welcome-container {
    /* min-height: 90vh; */
    width: 100%;
    height: 100vh;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.welcome-container-content {
    width: 100%;
    max-width: 800px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.welcome-container-personage {
    margin-right: 20px;
    width: 30%;
    /* width: 180px; */
    /* height: 100%; */
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;    
}

.welcome-personage {
    position: absolute;
    bottom: 0px;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.welcome-personage img {
    max-height: 80vh;

}

@media only screen and (max-width: 650px) {
    .welcome-container-content {
        height: 100%;
        /* padding: 40px; */
        /* padding-top: 150px; */
        /* background-color: red; */
        display: flex;
        flex-direction: column-reverse;
    }

    .welcome-container-personage{
        /* display: none; */
        /* background-color: blue; */
    }

    .welcome-container {
        padding: 10px;

    }
    
    .welcome-personage {
        bottom: auto;
        top: 0;
    }
    
    .welcome-dialog-container {
        width: 90%;
        padding: 10px;
        height: 70%;
        box-sizing: border-box;
    }

    .welcome-dialog-boxText {
        font-size: 12px;
        width: 90%;
    }

    .welcome-dialog-content {
        width: 100%;
        /* height: 60%; */
        min-height: 300px;
        /* padding: 10px; */
    }
}